# CI configuration is sourced from template project.
# See Settings > CI/CD > General pipelines > CI/CD Configuration file for source location
.gitlab-ci.yml

# Local chainsaw e2e runner config. See test/chainsaw/README.md.
.chainsaw.env
